/* CSS declarations go here */


/* ------------------------------------------------------    Path page */
<<<<<<< HEAD
#pathInfoScroll {
    width: 370px;
    height: 200px;
    overflow: scroll;
}
=======
>>>>>>> 5e8b2cdb8ec8b6388d1b007fd59cc46ed0262756
#pathRobotCanvas{
     border:1px solid black;
     position: absolute;
     margin: 0% 10% auto auto;
     z-index: 2; left:0; right: 0;
}

#pathMapCanvas{
     border:1px solid red;
     position: absolute;
     margin: 0% 10% auto auto;
     z-index: 1; left:0; right: 0;
}

#pathInfoCanvas{
    background-color: white;
     border:1px solid black;
<<<<<<< HEAD
=======
     position: absolute;
>>>>>>> 5e8b2cdb8ec8b6388d1b007fd59cc46ed0262756
     margin: 3% auto auto 10%;
     z-index: 1; left:0; right: 0;
}

#pathToDBButton{
<<<<<<< HEAD
  margin-top: 5%;
  margin-left: 10%;
  display: block;
  width: 250px;
=======
  margin-top: 30%;
  margin-left: 10%;
  display: block;
>>>>>>> 5e8b2cdb8ec8b6388d1b007fd59cc46ed0262756
}

#pathToRobotButton{
  margin-left: 10%;
<<<<<<< HEAD
  display: block;
  width: 250px;
}

#delPathFromDBButton{
  display: block;
  margin-left: 10%;
  width: 250px;
=======
>>>>>>> 5e8b2cdb8ec8b6388d1b007fd59cc46ed0262756
}


/*---------------------------------------- Robots page */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    font:bold 16px Tahoma;
}
<<<<<<< HEAD
h1{color:7986A3;}
h4{font: bold 16px Tahoma;}
=======
h1{color:white;}
>>>>>>> 5e8b2cdb8ec8b6388d1b007fd59cc46ed0262756


.addRobotForm{
    float: right;
    width: 25%;
}

form{
  display: table;
  text-align:left;     
}

.row{
  display: table-row;
}

.row label{
  display: table-cell;
  padding:2px;
}

.row input{
  display: table-cell;
  padding:2px;
}

input[type=text], select{
    
    padding: 6px;
    border: 1px solid #ccb;
    border-radius: 4px;
    box-sizing: border-box;   
}

<<<<<<< HEAD

=======
button[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px;
    font: bold 15px sans-serif;
}
>>>>>>> 5e8b2cdb8ec8b6388d1b007fd59cc46ed0262756

button[type=submit]:hover {
    background-color: #45a049;
}
/* CSS declarations go here */
body {
  font-family: "Tahoma", sans-serif;
<<<<<<< HEAD
  background-color: #CCD1DB;
=======
  background-color: #009999;
  background-image: linear-gradient(to bottom, #009999, #ffffff 100%);
>>>>>>> 5e8b2cdb8ec8b6388d1b007fd59cc46ed0262756
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}


.robotList ul {
  margin: 0;
  padding: 0;
  background: white;
}



.robotList{
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

.robotList li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}


.robotList li.checked .text {
  text-decoration: line-through;
}

.robotList li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }
}

/* -------- mini locate window --------------*/

.position_window_background{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top of main screen*/
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 30px;
    color: black;
}
.position_window{
    background: #fefefe;
    margin: 1% auto 1% auto; /* 2% from the top, 8% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 90%;
    text-align: center; 
    border-radius: 4px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 11%;
    top: 6%;
    color: #f1f1f1;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.redBtn{
  background-color:red;
}
.orangeBtn{
  background-color:orange;
}
.purpleBtn{
<<<<<<< HEAD
  background-color:#B269CF;
=======
  background-color:purple;
>>>>>>> 5e8b2cdb8ec8b6388d1b007fd59cc46ed0262756
}
.close_icon{
    text-decoration: none;
    color: #818181;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
  color: black;
}

.mini_window_button_section{
    width: 40%; height: 500px;
    margin: 3% auto 2% 2%;
    background-color:#f1f1f1;
    text-align: center;
} 
.position_window_background li {
    width: 90%;
    text-align: left;
}
#locateRobotCanvas{
     border:1px solid #d3d3d3;
     position: absolute;
     margin: 3% auto;  
     z-index: 4;
}
#locateMapCanvas{
     border:1px solid red;
     position: absolute;
     margin: 3% auto;
     z-index: 3; 
}


/* ------------------------------------------------------    Realtime page */
#realtimeRobotCanvas{
     border:1px solid black;
     position: absolute;
     margin: 3% auto;
     z-index: 2; left:0; right: 0;
}

#realtimeMapCanvas{
     border:1px solid red;
     position: absolute;
     margin: 3% auto;
     z-index: 1; left:0; right: 0;
}



/* -------------------------------------------------------   Common to all pages */
<<<<<<< HEAD
#giveSpaceToCanvas{
  margin-top:600px;
}
#giveSpaceToCanvas2{
  margin-top:60px;
  margin-bottom: 50px;
}

=======
>>>>>>> 5e8b2cdb8ec8b6388d1b007fd59cc46ed0262756
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
 
#wrapper.toggled {
    padding-left: 250px;
}
 
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
<<<<<<< HEAD
    background: #293347;
=======
    background: #000;
>>>>>>> 5e8b2cdb8ec8b6388d1b007fd59cc46ed0262756
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
 
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
 
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}
 
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
 
/* Sidebar Styles */
 
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}
 
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
 
.sidebar-nav li a {
    display: block;
    text-decoration: none;
<<<<<<< HEAD
    color: #fff;
=======
    color: #999999;
>>>>>>> 5e8b2cdb8ec8b6388d1b007fd59cc46ed0262756
}
 
.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}
 
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}
 
.sidebar-nav > .sidebar-brand {
    height: 65px;
<<<<<<< HEAD
    font-size: 22px;
=======
    font-size: 18px;
>>>>>>> 5e8b2cdb8ec8b6388d1b007fd59cc46ed0262756
    line-height: 60px;
}
 
.sidebar-nav > .sidebar-brand a {
<<<<<<< HEAD
    color: #fff;
=======
    color: #999999;
>>>>>>> 5e8b2cdb8ec8b6388d1b007fd59cc46ed0262756
}
 
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
 
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
 
    #wrapper.toggled {
        padding-left: 0;
    }
 
    #sidebar-wrapper {
        width: 250px;
    }
 
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
 
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
 
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
 
