html {
    background: url("/img/background.jpg");
}
/*
window              : z=0
realtimeMapCanvas   : z=0
realtimeRobotCanvas : z=1

locateMiniWindow    : z=2
locateMapCanvas     : z=2
locateRobotCanvas   : z=3

h1 - not used
h2 - realtime window heading
h3 - navigation
h4 - mini window headings
*/

body {
    
    font-family: "Tahoma", sans-serif;
    color: white;
    text-align: center;

}
h1{
    text-align: center;
    padding-bottom: 0px;
    width: 50%;
    margin:30px auto 0px auto;
    left:0px;
    right: 0px;
}

h2 {
    width:50%;
    position: absolute;
    margin: 20px auto;
    right: 0px;
    left: 0px;
    text-align: center;
}
h4{
    font: bold 20px Arial;
    padding: 10px;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    font:bold 16px Tahoma;
}

.mainSection{
    margin: 50px auto;
    text-align: center;
    width: 600px
}

#realtimeRobotCanvas{
     border:5px solid black;
     position: absolute;
     margin: 0 auto;
     z-index: 2; left:0; right: 0;
}
#realtimeMapCanvas{
     border:5px solid red;
     position: absolute;
     margin: 0 auto;
     z-index: 1; left:0; right: 0;
}

.redBtn{
    background-color:red;
}
.orangeBtn{
    background-color:orange;
}
.close_icon{
    text-decoration: none;
    color: #818181;
}



/*----------mini window ---------------------*/

/* -------- mini locate window --------------*/

.mini_window_background{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top of main screen*/
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 30px;
    color: black;
}
.mini_window{
    background: #fefefe;
    margin: 1% auto 1% auto; /* 2% from the top, 8% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    height: 90%;
    text-align: center; 
    border-radius: 4px;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 11%;
    top: 6%;
    color: #f1f1f1;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.mini_window_button_section{
    width: 40%; height: 500px;
    margin: 3% auto 2% 2%;
    background-color:#f1f1f1;
    text-align: center;
} 
li {
    width: 90%;
    text-align: left;
}
#locateRobotCanvas{
     border:1px solid #d3d3d3;
     position: absolute;
     margin: 3% auto;  
     z-index: 4;
}
#locateMapCanvas{
     border:1px solid red;
     position: absolute;
     margin: 3% auto;
     z-index: 3; 
}

/* --------- mini add user window --------- */

input[type=text], select, textarea {
    
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0px auto;
    font: bold 15px sans-serif;
}

input[type=submit]:hover {
    background-color: #45a049;
}

form{
    display: table;
    text-align:left;     
}
.row{
    display: table-row;
}
.row label{
    display: table-cell;
    padding:2px;
}
.row input{
    display: table-cell;
    padding:2px;
}

.addUserForm{
    float: left;
    width: 25%;
    margin-left: 25px;
}
.addRobotForm{
    float: right;
    width: 25%;
}